<header>
  <nav class="flex items-center justify-between">
    <div class="logo bg-[var(--main-color)] py-8 px-4">
      <img class="mx-auto" src="/atandt.png" alt="" />
      <div class="logo-title text-center">
        <span class="block text-[8px] text-white pt-2"
          >Purchase Order Summary</span
        >
        <span class="block text-[6px] text-white">Buyer's Invoice</span>
      </div>
    </div>
    <div class="">
      <h1
        class="uppercase text-3xl font-bold tracking-widest text-[var(--main-color)]"
      >
        invoice
      </h1>
    </div>
  </nav>
</header>
