@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
:root {
  --main-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  --main-color: #545658;
}
